.cli-window {
    height: 100%;
    overflow: auto;
    background-color: #0c0c0c;
    padding-bottom: 3rem;

    div[name="react-console-emulator"] {
        height: 100% ;
        background-color: transparent !important
    }
}