.window {
    width: 30vw;
    min-width: 200px;
    height: 20vw;
    min-height: 250px;

    background-color: #000;

    border-radius: 0.75rem;
    overflow: hidden;

    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;

    .nav {
        padding-inline: 0.75rem;
        padding-block: 0.5rem;

        display: flex;
        align-items: center;
        gap: 1.5rem;

        border-bottom: 1px solid rgba(133, 133, 133, 0.707);

        .dots {
            display: flex;
            gap: .25rem;
        }

        .dot {
            width: 15px;
            aspect-ratio: 1/1;
            background: #fff;
            border-radius: 50%;
        }

        .red {
            background-color: rgb(249, 29, 29);
        }

        .yellow {
            background-color: rgb(234, 234, 34);
        }

        .green {
            background-color: rgb(21, 176, 21);
        }
    }
}