nav {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-inline: .75rem;
    padding-block: .5rem;
    background-color: rgba(64, 64, 64, 0.653);
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: space-between;

    .left, .right {
        display: flex;
        gap: 1rem;
    }
}