* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    width: 100%;
    height: 100%;
}

body {
    background: #000;
}

main {
    width: 100%;
    height: 100%;

    background: url(/desktopImg.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

    position: relative;
    overflow: hidden;
}